name: gh_sync_flutter
description: Enterprise GitHub Desktop Client
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # State Management
  provider: ^6.0.5
  
  # Storage
  shared_preferences: ^2.2.0
  
  # UI/Animations
  google_fonts: ^5.1.0
  flutter_animate: ^4.2.0
  
  # Icons
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/scripts/
